<div class="center" id="user_nav">
  <% unless current_user %>
    <h2> Welcome to Twitter-Assistant! </h2>
    <%= link_to "Sign in with Twitter", "/auth/twitter", class: "btn btn-lg btn-primary" %>
  <% end %>
</div>